<h2>Register:</h2>
<div class ="container" >
<form method="POST" action="/users">
	<br>
	First name: <input type="text" name="user[first_name]" placeholder=" First Name" />
	<br>
 Last name: <input type="text" name="user[last_name]" placeholder=" Last Name" />
	<br>
 Email Address:<input type="text" name="user[email]" placeholder=" Email" />
	<br>
 Password <input type="password" name="user[password]" placeholder=" Password" />

 <br>

 <input type="submit" value ='Submit'/>

</form>
</div>